@import '../../variables.scss';

ul.breadcrumb {
    margin: 16px 0px;
    padding: 0;
    list-style: none;
    background-color: #eee;

    li {
        display: inline;
        font-size: 14px;
        color: $grey;
        cursor: pointer;
    
        &+li:before {
            padding: 0px 8px;
            color: black;
            content: ">";
            cursor: default;
        }

        &:last-child {
            font-weight: 600;
        }
    }
}