@import '../../variables.scss';

$border-radius: 4px;
$outline: 0.2px solid $light-grey;

header.nav-header {
    height: 64px;
    background-color: $primary-yellow;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-logo {
        margin-right: 20px;

        &:focus {
            outline: $outline;
        }
    }

    .nav-search {
        display: table;
        border-collapse: collapse;
        width: 60%;

        div {
            display: table-cell;
            vertical-align: middle;
        }

        .nav-search-input {
            width: 100%;

            input {
                width: 100%;
                display: block;
                padding: 10px 12px;
                border-radius: $border-radius 0px 0px $border-radius;
                border: none;
                font-size: 18px;

                &::placeholder {
                    color: $light-grey;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    
        .nav-search-button {
            cursor: pointer;
            background:#eee;
            color: #777;
            padding: 0 16px;
            border-radius: 0px $border-radius $border-radius 0px;
        
            &:focus {
                outline: $outline;
            }
        }
    }
}

.search-container {
    margin: 0px 300px;

    @include for-size(medium-desktop-up) {
        margin: 0px 200px;
    }

    @include for-size(desktop-up) {
        margin: 0px 100px;
    }

    @include for-size(tablet-portrait-up) {
        margin: 0px 20px;
    }
}